body {
    background-color: #ffffff;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.toggle {
    border-radius: 30px;
    padding: 5px 20px;
    background-color: white;
    cursor: pointer;
}